<div class="pravoved-ru-widget pravoved-ru-widget--auto" data-widget="chat"
    data-partner-id="438bc23c073ca960eccbb14ffce2edee" data-data1="123" data-data2="test"></div>
<script class="pravoved-ru-loader">;
    (function (w, d) {
        var s = d.createElement('script');
        s.type = 'text/javascript';
        s.async = true;
        s.src = '//widget.cpa.legalaxy.com/js/loader.min.js';
        var x = d.getElementsByTagName('script')[0];
        x.parentNode.insertBefore(s, x);
    }(window, document));
</script>