{% load static %}
<div class="container-fluid footer">
    <div class="container pt-4 pb-4">
        © 2018 «ЦЮПГРФ» Центр юридической помощи гражданам. Все права защищены. Политика конфиденциальности.
        Контакты
    </div>
</div>