{% load static %}
<form action="{% url "home" %}" method="post">
          {% csrf_token %}
        <div class="row">
          <div class="form-group col-md-7">
            <p class="lead">Напишите ваш вопрос и мы ответим через 7 минут</p>
            {{ form.question }}
            {% if form.question.errors %}
                    <div class="alert alert-danger">
                        <span>{{ form.question.errors }}</span>
                    </div>
            {% endif %}
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                    {{form.phone}}
                    {% if form.phone.errors %}
                    <div class="alert alert-danger">
                        <span>{{ form.phone.errors }}</span>
                    </div>
                    {% endif %}
                </div>
                <button type="submit" class="btn btn-lg btn-danger col-sm-12">
                  Задать вопрос
                </button>
              </div>
              <div class="col-md-6 p-3">
                Не хотите ждать? Звоните: <br />
                <strong>8 800 888 88 88</strong> <br />
                Звонки по России бесплатны
              </div>
            </div>
          </div>

          <div class="col-md-5 d-none d-md-block">
            <img src="{% static 'man.png' %}" class="img-fluid hidden-sm-down" alt="man" />
          </div>
        </div>
      </form>