{% load static %}
<div class="container">
    <div class="row d-flex align-items-center pt-0 pb-0">
        <div class="col-12 col-md-4">
            <div class="row align-items-center">
                <div class="col-4 px-0">
                    <img src="{% static 'logo.png' %}" class="img-fluid d-inline-block align-middle" alt="лексбург" />
                </div>
                <div class="col-8 px-0">
                    <div class="font-weight-bold h5">
                        <span class="text-black">Центр </span><span class="text-danger">анонимной</span>
                        <span class="text-black"> юридической помощи жителям Москвы и МО</span></div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-4 text-center font-weight-bold">
            <div>
                <nobr><i style="color: #dc3545" class="fas fa-mobile-alt"></i>
                    <a href="tel:+74999384067">8 499 938 40 67</a>
                </nobr>
            </div>
            <small class="text-muted">Бесплатная горячая линия</small>
        </div>
        {% comment %}
        <div class=" col-6 col-md-4 text-right d-none d-md-block">
            <a name="" id="" class="btn btn-danger" href="#" role="button">Консультация юриста</a>
            <br /><small class="text-muted">Бесплатно задать вопрос</small>
        </div>
        {% endcomment %}
    </div>
</div>