{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ debug.title }}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="{{ debug.description }}" />
    <link rel="shortcut icon" href="{% static "favicon.png" %}" type="image/x-icon">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static "lex.css" %}" />
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (m, e, t, r, i, k, a) {
            m[i] = m[i] || function () { (m[i].a = m[i].a || []).push(arguments) };
            m[i].l = 1 * new Date(); k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
        })
            (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(52700230, "init", {
            clickmap: true,
            trackLinks: true,
            accurateTrackBounce: true,
            webvisor: true
        });
    </script>
    <noscript>
        <div><img src="https://mc.yandex.ru/watch/52700230" style="position:absolute; left:-9999px;" alt="" /></div>
    </noscript>
    <!-- /Yandex.Metrika counter -->
</head>

<body>
    <!-- widget -->
    <div class="pravoved-ru-widget pravoved-ru-widget--auto" data-widget="chat"
        data-partner-id="438bc23c073ca960eccbb14ffce2edee" data-data1="123" data-operator-name="Андрей"
        data-operator-surname="Моисеев" data-operator-description="Дежурный юрист из Москвы"
        data-operator-avatar="https://cupg.ru/static/lawyers/law1.png" data-data2="test">
    </div>
    <script class="pravoved-ru-loader">;
        (function (w, d) {
            var s = d.createElement('script');
            s.type = 'text/javascript';
            s.async = true;
            s.src = '//widget.cpa.legalaxy.com/js/loader.min.js';
            var x = d.getElementsByTagName('script')[0];
            x.parentNode.insertBefore(s, x);
        }(window, document));
    </script>
    <!-- endwidget -->
    <!-- <script type="text/javascript"
        src="//cloud.lexprofit.net/widget/1.1/init.js?token=355072c8c6f714c316392cecb6d480cc"></script> -->
    <!-- HEADER -->
    {% include "mainapp/header.html" %}

    <!-- LEAD -->
    {% include "mainapp/lead.html" %}

    <!-- Вопросы и ответы -->
    {% comment %} {% include "mainapp/questions.html" %} {% endcomment %}

    <!-- lawyers -->
    {% comment %} {% include "mainapp/lawyers.html" %} {% endcomment %}

    <!-- Как мы работаем -->
    {% include "mainapp/howwework.html" %}

    <!-- partners -->
    {% comment %} {% include "mainapp/partners.html" %} {% endcomment %}

    <!-- qualification -->
    {% comment %} {% include 'mainapp/qualification.html' %} {% endcomment %}

    <!-- riviews -->
    {% comment %} {% include 'mainapp/riviews.html' %} {% endcomment %}

    <!-- map -->
    {% comment %} {% include 'mainapp/map.html' %} {% endcomment %}

    <!-- FOOTER -->
    {% comment %} {% include 'mainapp/footer.html' %} {% endcomment %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>