{% load static %}
<div class="container-fluid bg-light pt-1 pb-5">
  <div class="container">
    <div class="text-center d-block h2 mt-5 mb-3 font-weight-bold">
      Как мы работаем
    </div>
    <div class="row text-center ">
      <div class="col-md-4">
        <i class="far fa-question-circle display-2 d-block text-danger"></i>
        <span class="h4 font-weight-bold">1. Вы задаете вопрос</span>
        <p>
          Вы описываете вашу проблему и оставляете свои контактые данные, либо
          звоните в наш центр по телефону
        </p>
      </div>
      <div class="col-md-4">
        <i class="far fa-comments display-2 d-block text-primary"></i>
        <span class="h4 font-weight-bold"
          >2. Получаете юридическую консультацию бесплатно</span
        >
        <p>
          В течении 10 минут юрист свяжется с вами и ответит на все ваши
          вопросы, подскажет как лучше всего поступить и что делать.
        </p>
      </div>
      <div class="col-md-4">
        <i class="far fa-check-circle display-2 d-block text-success"></i>
        <span class="h4 font-weight-bold">3. Ваша проблема решена</span>
        <p>
          Юрист раскажет вам бесплатно что нужно делать в вашей ситуации,
          подскажет самые лучшие пути решения проблемы. Теперь вы знаете как
          действовать дальше.
        </p>
      </div>
    </div>
  </div>
</div>
