{% load static %}
<div class="text-center d-block h2 mt-5 mb-5" style="font-weight: bold;">
    Наши юристы помогут бесплатно!
</div>
<div class="container">
    <div class="row align-itemts-center">
        <div class="col-12 mt-2 col-md-6 text-left">
            <div class="row p-3" style="border: solid 1px rgb(221, 221, 221);">
                <div class="col-12 h5">Моисеев Андрей Михайлович</div>
                <div class="col-2 self-align-center align-self-center p-0 m-0">
                    <img src="{% static 'lawyers/law1.png' %}" class="img-fluid rounded-circle m-0 p-0 col-12" alt="" />
                </div>
                <div class="col-10">
                    <table class="table">
                        <tr>
                            <td>
                                Стаж:
                            </td>
                            <td>
                                12 лет
                            </td>
                        </tr>

                        <tr>
                            <td>
                                Проведено дел:
                            </td>
                            <td>
                                174
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Выиграно дел
                            </td>
                            <td>
                                162
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-12">
                    Образование: Юридический факультет Моковской Юридической Академии
                </div>
                <div class="col-12">
                    Специализация: Гражданское, миграционное, кредитное, ЖКХ, земельное
                </div>
            </div>
        </div>
        <div class="col-12 mt-2 col-md-6 text-left">
            <div class="row p-3" style="border: solid 1px rgb(221, 221, 221);">
                <div class="col-12 h5">Громов Сергей Витальевич</div>
                <div class="col-2 self-align-center align-self-center p-0 m-0">
                    <img src="{% static 'lawyers/law2.png' %}" class="img-fluid rounded-circle m-0 p-0 col-12" alt="" />
                </div>
                <div class="col-10">
                    <table class="table">
                        <tr>
                            <td>
                                Стаж:
                            </td>
                            <td>
                                20 лет
                            </td>
                        </tr>

                        <tr>
                            <td>
                                Проведено дел:
                            </td>
                            <td>
                                500
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Выиграно дел
                            </td>
                            <td>
                                94%
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-12">
                    Образование: Юридический факультет Международного политологического университета
                </div>
                <div class="col-12">
                    Специализация: Уголовное, административное, семейное, трудовое, военное право
                </div>
            </div>
        </div>
        <div class="col-12 mt-2 col-md-6 text-left">
            <div class="row p-3" style="border: solid 1px rgb(221, 221, 221);">
                <div class="col-12 h5">Мешков Сергей Александрович</div>
                <div class="col-2 self-align-center align-self-center p-0 m-0">
                    <img src="{% static 'lawyers/law3.png' %}" class="img-fluid rounded-circle m-0 p-0 col-12" alt="" />
                </div>
                <div class="col-10">
                    <table class="table">
                        <tr>
                            <td>
                                Стаж:
                            </td>
                            <td>
                                14 лет
                            </td>
                        </tr>

                        <tr>
                            <td>
                                Проведено дел:
                            </td>
                            <td>
                                370
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Выиграно дел
                            </td>
                            <td>
                                361
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-12">
                    Образование: Юридический факультет МГУ
                </div>
                <div class="col-12">
                    Специализация: административное, семейное, трудовое, уголовне, арбитражное, военное, земельное,
                    трудовое право и защита прав потребителей
                </div>
            </div>
        </div>
        <div class="col-12 mt-2 col-md-6 text-left">
            <div class="row p-3" style="border: solid 1px rgb(221, 221, 221);">
                <div class="col-12 h5">Замша Александр Сергеевич</div>
                <div class="col-2 self-align-center align-self-center p-0 m-0">
                    <img src="{% static 'lawyers/law4.png' %}" class="img-fluid rounded-circle m-0 p-0 col-12" alt="" />
                </div>
                <div class="col-10">
                    <table class="table">
                        <tr>
                            <td>
                                Стаж:
                            </td>
                            <td>
                                9 лет
                            </td>
                        </tr>

                        <tr>
                            <td>
                                Проведено дел:
                            </td>
                            <td>
                                145
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Выиграно дел
                            </td>
                            <td>
                                117
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-12">
                    Образование: Юридический факультет МГУ
                </div>
                <div class="col-12">
                    Специализация: защита прав потребителей, военное, кредитное, долговое, административное, семейное,
                    трудовое, уголовне, арбитражное, трудовое право
                </div>
            </div>
        </div>
    </div>
</div>