{% load static %}
<div style="background: url({% static 'bg3.jpg' %}); 
    background-position: center; 
    background-size: cover;
    color: black;
    " class="jumbotron jumbotron-fluid pt-0 mt-0 pb-0 mb-0">
    <div style="background-color: rgba(255, 255, 255, 0.00);">
        <div class="container px-0">
            <div class="text-center my-3">
                <h1 class="h2" style="font-weight: bold;">{{ debug.lead }}</h1>
            </div>


            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <!-- <script type="text/javascript"
                            src="//cloud.lexprofit.su/form/two_page3/0.1/init.js?token=27cf6a0a28b1ea1d37ecc72818f153f2"></script> -->
                        <iframe width="100%" height="520" frameborder="0" src="https://widget.cpa.pravoved.org/s3/question/form.html?host=pravoved.ru&partnerId=438bc23c073ca960eccbb14ffce2edee"></iframe>
                        {% comment %} <form action="{{ request.path }}" method="post">
                            {% if messages %}
                            {% for message in messages %}
                            <div class="alert alert-success">{{ message }}</div>
                            {% endfor %}
                            {% endif %}
                            {% csrf_token %}
                            <div class="form-group">
                                {{ form.question }}
                                {% if form.errors %}
                                {% for field in form %}
                                {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                                {% endfor %}
                                {% endfor %}
                                {% for error in form.non_field_errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                                {% endfor %}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ form.phone }}
                            </div>
                            <div class="form-group" style="visibility: hidden;">
                                {{ form.fckspamers }}
                            </div>
                            {{ test }}
                            <button type="submit" class="btn btn-primary mb-4">Задать вопрос на
                                сайте</button>

                        </form> {% endcomment %}
                    </div>
                    <div class="col-md-6 align-self-center">
                        <div class="vision-card px-3 py-4 rounded"
                            style="color: white; background-color: rgba(41, 86, 160, 0.75); border: solid 1px rgb(30, 73, 143);">
                            <div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <h5 style="text-align: right;" class=" promo-1">
                                            РАБОТАЕМ ЕЖЕДНЕВНО И КРУГЛОСУТОЧНО
                                        </h5>
                                    </div>
                                    <div class="col-md-12">
                                        <h5 style="text-align: right;" class=" promo-small">
                                            В целях реализации:
                                        </h5>
                                    </div>
                                    <div class="col-md-12 ">
                                        <h5 style="text-align: right;" class=" promo-2">
                                            ФЕДЕРАЛЬНОГО ЗАКОНА РОССИЙСКОЙ ФЕДЕРАЦИИ
                                        </h5>
                                    </div>
                                    <div class="col-md-12 ">
                                        <h4 style="text-align: right;" class=" promo-small">
                                            от 21 ноября 2011 г. N 324-ФЗ
                                        </h4>
                                    </div>
                                    <div class="col-md-12 ">
                                        <p style="text-align: right;" class="small my-0">
                                            “О бесплатной юридической помощи в Российской Федерации”
                                        </p>
                                        <p style="text-align: right;" class="small my-0 text-italic">
                                            (Принят Государственной Думой 2 ноября 2011 года и Одобрен Советом
                                            Федерации 9
                                            ноября
                                            2011 года)
                                        </p>
                                    </div>

                                    <div class="col-md-12 pt-2">
                                        <div class="card-counter mb-0">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <img src="{% static 'man2.png' %}" class="img-fluid hidden-sm-down" alt="man" /> -->
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>