<div class="container-fluid mt-3 p-3 pt-5 ">
    <div class="container ">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="p-3">
                    <div class="h5 pt-3 pb-3 font-weight-bold">НАШИ КОНТАКТЫ</div>
                    <address>Россия, Москва, 1-й Донской проезд, 2 </address>
                    <div class="pb-3">
                        <a href="tel:+74999384067"><i style="color: #dc3545" class="fas fa-mobile-alt"></i> 8 499 938 40
                            67</a>
                    </div>
                    <a class="btn btn-danger modal-lnk " href="#">Отправить заявку</a>
                </div>
            </div>
            <div class="col-xs-12 p-3 col-md-8">
                <script type="text/javascript" charset="utf-8" async
                    src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ac348ac22ea6e76f70a1748009c750522eb61849aa509d2ca8974509ba49a9edd&amp;width=100%25&amp;height=300&amp;lang=ru_RU&amp;scroll=true"></script>
            </div>
        </div>
    </div>
</div>