{% load static %}
<div class="container-fluid bg-light">
  <div class="container ">
    <div
      class="text-center d-block h2 mt-3 pt-4 mb-3"
      style="font-weight: bold;"
    >
      Мы сотрудничаем
    </div>
    <div class="text-center d-block h5 mb-3 ">
      Чтобы добиться выдающихся результатов для наших клиентов мы сотрудничаем:
    </div>
    <div class="row ">
      <div class="col-6 col-md-4 p-3">
        <div class="row">
          <div class="col-12 col-md-3 text-center align-self-center">
            <img
              src="{% static 'organs/pristav.png' %}"
              class="img-fluid "
              alt=""
            />
          </div>
          <div class="col-12 col-md-9">
            <div class="font-weight-bold mt-3 mb-3">
              Служба судебных приставов
            </div>
            Вопросы по судебным разбирательствам и деятельности судов,
            составление и исполнение судебных актов.
          </div>
        </div>
      </div>
      <div class="col-6 col-md-4 p-3">
        <div class="row">
          <div class="col-12 col-md-3 text-center align-self-center">
            <img
              src="{% static 'organs/mvd.png' %}"
              class="img-fluid "
              alt=""
            />
          </div>
          <div class="col-12 col-md-9">
            <div class="font-weight-bold mt-3 mb-3">МВД России</div>
            Вопросы по уголовному праву, незаконной деятельности и миграционному
            учету.
          </div>
        </div>
      </div>
      <div class="col-6 col-md-4 p-3">
        <div class="row">
          <div class="col-12 col-md-3 text-center align-self-center">
            <img
              src="{% static 'organs/prokuror.png' %}"
              class="img-fluid "
              alt=""
            />
          </div>
          <div class="col-12 col-md-9">
            <div class="font-weight-bold mt-3 mb-3">Прокуратура РФ</div>
            Все вопросы по гражданскому праву, защита свободы и интересов
          </div>
        </div>
      </div>
      <div class="col-6 col-md-4 p-3">
        <div class="row">
          <div class="col-12 col-md-3 text-center align-self-center">
            <img
              src="{% static 'organs/roskomnadzor.png' %}"
              class="img-fluid "
              alt=""
            />
          </div>
          <div class="col-12 col-md-9">
            <div class="font-weight-bold mt-3 mb-3">Роскомнадзор</div>
            Защита персональных данных и авторских прав
          </div>
        </div>
      </div>
      <div class="col-6 col-md-4 p-3">
        <div class="row">
          <div class="col-12 col-md-3 text-center align-self-center">
            <img
              src="{% static 'organs/rospotreb.png' %}"
              class="img-fluid "
              alt=""
            />
          </div>
          <div class="col-12 col-md-9">
            <div class="font-weight-bold mt-3 mb-3">Роспотребнадзор</div>
            Вопросы по защите прав потребителей и благополучия человека
          </div>
        </div>
      </div>
      <div class="col-6 col-md-4 p-3">
        <div class="row">
          <div class="col-12 col-md-3 text-center align-self-center">
            <img
              src="{% static 'organs/cntr_bank.png' %}"
              class="img-fluid "
              alt=""
            />
          </div>
          <div class="col-12 col-md-9">
            <div class="font-weight-bold mt-3 mb-3">Центральный банк РФ</div>
            Вопросы по кредитам и другим банковским операциям, выдача и отзыв
            лицензий
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- botton -->
<div class="container">
  <div class="col-10 offset-1 col-md-4 offset-md-4 mt-4 mb-3">
    <a name="" id="" class="btn btn-danger btn-lg col-12" href="#" role="button"
      >Задать вопрос</a
    >
  </div>
</div>
<!-- /button -->
