{% load static %}
<div class="container">
  <div class="row">
    <div class="col-md-6">
      {% comment %} <div id="js-custom-overlay" class="custom-overlay">
          <div class="custom-form-container">
          <div class="custom-form js-custom-form" data-name="custom-modal-form">
            <div class="custom-form__container  js-custom-form-container">
              <div class="custom-form__body">
                <input
                  class="js-custom-form-input custom-form__input"
                  type="text"
                  placeholder="Ваше имя"
                  name="name"
                />
                <input
                  class="js-custom-form-input custom-form__input"
                  type="text"
                  placeholder="Телефон"
                  name="phone"
                />
                <div class="row form-group custom-city-select">
                  <input
                    class="js-custom-form-input-city custom-form__input"
                    type="text"
                    id="city_name2"
                    data-id="city_id"
                    value=""
                    placeholder="Город"
                    autocomplete="off"
                  />
                  <input
                    class="js-custom-form-input"
                    name="city_id"
                    type="hidden"
                    id="city_id2"
                  />
                </div>
                <textarea
                  class="js-custom-form-input custom-form__input"
                  placeholder="Опишите вашу проблему"
                  name="comment"
                ></textarea>
              </div>
              <input
                class="js-custom-form-input"
                name="putm_content"
                type="hidden"
                value="form"
              />
              <input
                class="js-custom-form-input"
                name="putm_medium"
                type="hidden"
                value="http://consult.pravoved.ru/"
              />

              <div class="btn btn-lg btn-danger js-custom-form-submit">
                Получить консультацию
              </div>
              
            </div>
            <div class="custom-message-success js-custom-message-success">
              Ваша заявка отправлена
            </div>
          </div>
        </div>
        <!-- </div> -->
      </div> {% endcomment %}
    </div>
    <div class="d-none d-md-block col-md-6 align-self-end">
      <img
        src="{% static 'man2.png' %}"
        class="img-fluid hidden-sm-down"
        alt="man"
      />
    </div>
  </div>
</div>
