{% load static %}
<div class="container">
  <div class="text-center d-block h2 mt-5 mb-3" style="font-weight: bold;">
    Квалификация юристов
  </div>
  <div class="text-center d-block h5 mb-3 ">
    Наши юристы каждые 4 месяца проходят курсы повышения квалификации, а так же
    посещают лекции и семанары
  </div>
  <div class="row text-center p-3">
    <div class="col-6 col-md-3 p-5">
      <div class="row">
        <div class="col-12">
          <img src="{% static 'univer/mgu.gif' %}" class="img-fluid " alt="" />
        </div>
        <div class="col-12">
          <div class="font-weight-bold mt-3 mb-3">МГУ</div>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-3 p-5">
      <div class="row">
        <div class="col-12">
          <img src="{% static 'univer/mgua.png' %}" class="img-fluid " alt="" />
        </div>
        <div class="col-12">
          <div class="font-weight-bold mt-3 mb-3">МГЮА</div>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-3 p-5">
      <div class="row">
        <div class="col-12">
          <img
            src="{% static 'univer/mgimo.png' %}"
            class="img-fluid "
            alt=""
          />
        </div>
        <div class="col-12">
          <div class="font-weight-bold mt-3 mb-3">МГИМО</div>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-3 p-5">
      <div class="row">
        <div class="col-12">
          <img src="{% static 'univer/rgup.png' %}" class="img-fluid " alt="" />
        </div>
        <div class="col-12">
          <div class="font-weight-bold mt-3 mb-3">РГУП</div>
        </div>
      </div>
    </div>

    <div class="col-10 offset-1 col-md-4 offset-md-4 mt-3 mb-3">
      <a
        name=""
        id=""
        class="btn btn-danger btn-lg col-12"
        href="#"
        role="button"
        >Решить вопрос</a
      >
    </div>
  </div>
</div>
