{% load static %}
<div class="container chat">
    <div class="text-center d-block h2 pt-4 mb-5" style="font-weight: bold;">
        Последние вопросы граждан:
    </div>
    <!-- Q1 -->
    <div class="row ">
        <div class="col-md-11">
            <div class="card question">
                <img class="card-img-top" src="holder.js/100x180/" alt="">
                <div class="card-body">
                    <p class="card-title">Добрый день! Бывший муж не платит алименты на протяжении нескольких лет. Сумма
                        долга составляет почти 600 тыс.руб. Дважды судим по не исполнению своих обязательств. Присуждены
                        исправительные работы. Он все равно не работает. Пьет!Сейчас приставами снова готовятся
                        документы в суд. Приставы сказали, что он уже почти не стоит на ногах, трясется как при
                        приступах эпилепсии. Понятно, что уже работать он не будет и никаких алиментов я не получу. Как
                        быть в такой ситуации. Что нужно делать? Писать заявление об отказе от алиментов?
                    </p>
                    <hr>
                    <div class="d-flex flex-row justify-content-between card-text">
                        <div class="text-black font-weight-bold">
                            <small style="font-weight: bold;">
                                <nobr><i class="far fa-clock"></i> {{ questions.0 | date:"G:i" }}</nobr>
                                <nobr><i class="far fa-calendar-alt "></i> {{ questions.0 | date:"d E Y" }}</nobr>
                            </small>
                        </div>
                        <div class="text-muted text-right">
                            <small>
                                <nobr><i class="fas fa-user"></i> Мария </nobr>
                                <nobr><i class="fas fa-city"></i> Москва </nobr>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- A1 -->
    <div class="row answer">
        <div class="col-12">
            <div id="answerid9" class="row">
                <div class="col-md-2 lawyer_photo_wrapper d-none d-md-block">
                    <div class="lawyer_photo_block">
                        <img src="{% static 'lawyers/law1.png' %}" class="img-fluid rounded-circle mt-2">
                        <div class="text-center">
                            <span class="online small">
                                <i style="color:rgb(28, 202, 22);" class="fas fa-circle"></i> online</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="card answer mt-2">
                        <div class="card-body">
                            <span class="card-title h5">Моисеев Андрей </span>

                            <div class="small xs text-muted">
                                Юрист со стажем 12 лет
                            </div>
                            <hr>
                            <div class="card-text">
                                <p>Лучше писать заявление о лишении его родительских прав. Потому что такие люди,
                                    полностью лишившись средств к существованию, очень любят требовать алименты с
                                    совершеннолетних детей. Заявление об отказе писать не нужно.
                                </p>
                            </div>
                            <hr>
                            <div class="d-flex flex-row justify-content-between card-text">
                                <div class="text-black font-weight-bold">
                                    <small style="font-weight: bold;">
                                        <nobr><i class="far fa-clock"></i> {{ answers.0 | date:"G:i" }}</nobr>
                                        <nobr><i class="far fa-calendar-alt "></i> {{ answers.0 | date:"d E Y" }}
                                        </nobr>
                                    </small>
                                </div>
                                <div class="text-muted text-right">
                                    <small>
                                        <nobr><i class="fas fa-user-graduate"></i> Моисеев Андрей </nobr>
                                        <nobr><i class="fas fa-city"></i> Москва </nobr>
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- Q2 -->
    <div class="row ">
        <div class="col-md-11">
            <div class="card question">
                <div class="card-body">
                    <p class="card-title">Сын 10 лет подрался в школе. Была комиссия по делам несовершеннолетних, там
                        вынесли постановление о прекращении рассмотрения материалов дела. Но в полиции ребёнка все равно
                        поставили на учёт. Правомерно ли?</p>
                    <hr>
                    <div class="d-flex flex-row justify-content-between card-text">
                        <div class="text-black font-weight-bold">
                            <small style="font-weight: bold;">
                                <nobr><i class="far fa-clock"></i> {{ questions.1 | date:"G:i" }}</nobr>
                                <nobr><i class="far fa-calendar-alt "></i> {{ questions.1 | date:"d E Y" }}</nobr>
                            </small>
                        </div>
                        <div class="text-muted text-right">
                            <small>
                                <nobr><i class="fas fa-user"></i> Антонина. </nobr>
                                <nobr><i class="fas fa-city"></i> Санкт-Петербург </nobr>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- A2 -->
    <div class="row answer">
        <div class="col-12">
            <div id="answerid9" class="row">
                <div class="col-md-2 lawyer_photo_wrapper d-none d-md-block">
                    <div class="lawyer_photo_block">
                        <img src="{% static 'lawyers/law3.png' %}" class="img-fluid rounded-circle mt-2">
                        <div class="text-center">

                            <span class="online small"><i style="color:rgb(28, 202, 22);" class="fas fa-circle"></i>
                                online</span>

                        </div>
                    </div>

                </div>
                <div class="col-md-10">
                    <div class="card answer mt-2">
                        <div class="card-body">
                            <span class="card-title h5">Мешков Сергей </span>

                            <div class="small xs text-muted">
                                Юрист со стажем 14 лет
                            </div>
                            <hr>
                            <div class="card-text">
                                <div>
                                    <p>Добрый день, нет не законо.<br> </p>
                                    <p>Статья 87. Уголовная ответственность несовершеннолетних<br> &nbsp;<br> 1.
                                        Несовершеннолетними признаются лица, которым ко времени совершения преступления
                                        исполнилось четырнадцать, но не исполнилось восемнадцати лет.<br> </p>
                                </div>
                            </div>
                            <hr>
                            <div class="d-flex flex-row justify-content-between card-text">
                                <div class="text-black font-weight-bold">
                                    <small style="font-weight: bold;">
                                        <nobr><i class="far fa-clock"></i> {{ answers.1 | date:"G:i" }}</nobr>
                                        <nobr><i class="far fa-calendar-alt "></i> {{ answers.1 | date:"d E Y" }}
                                        </nobr>
                                    </small>
                                </div>
                                <div class="text-muted text-right">
                                    <small>
                                        <nobr><i class="fas fa-user-graduate"></i> Мешков Сергей </nobr>
                                        <nobr><i class="fas fa-city"></i> Москва </nobr>
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

<div class="text-center mt-4">
    <a class="btn btn-lg btn-primary" href="#">Задать свой вопрос</a>
</div>