{% load static %}
<div class="container-fluid">
  <div class="text-center d-block h2 mt-5 mb-3" style="font-weight: bold;">
    Отзывы наших клиентов
  </div>
  <div class="container">
    <div class="row">
      <div class="col-6 col-md-3">
        <img src="{% static 'reviews/1.jpg' %}" class="img-fluid pb-3" alt="" />
        <div>
          Будучи на восьмом месяце беременности я обратилась за консультацией по
          поводу получения денежной помощи на ребенка. Мне нужно было узнать
          какие документы нужны,` где их вообще брать и как...
        </div>
      </div>
      <div class="col-6 col-md-3">
        <img src="{% static 'reviews/2.jpg' %}" class="img-fluid pb-3" alt="" />
        <div>
          Необходимо было передать предприятие в собственность и здешние юристы
          нам помогли составить все документы, собрать необходимые бумаги,
          присутствовали на переговорах, и даже посодействовали когда...
        </div>
      </div>
      <div class="col-6 col-md-3">
        <img src="{% static 'reviews/3.jpg' %}" class="img-fluid pb-3" alt="" />
        <div>
          Решив заняться своим бизнесом в интернете я решил уточнить свои права
          и обязанности, необходимость оформлять и регистрировать ИП,
          необходимость оформления документов и условия на...
        </div>
      </div>
      <div class="col-6 col-md-3">
        <img src="{% static 'reviews/4.jpg' %}" class="img-fluid pb-3" alt="" />
        <div>
          Необходимо было передать квартиру в собственность и юристы мне помогли
          составить все документы и грамотно подать заявление в суд...
        </div>
      </div>
      <div class="col-6 col-md-3">
        <img src="{% static 'reviews/5.jpg' %}" class="img-fluid pb-3" alt="" />
        <div>
          Добрый день, меня зовут Алена. Умерла сестра моей мамы. Так сложилось,
          что своих детей у нее нет. Нотариус мне отказал в принятии заявления и
          мне нужно было доказывать наши родственные отношения в суде...
        </div>
      </div>
      <div class="col-6 col-md-3">
        <img src="{% static 'reviews/6.jpg' %}" class="img-fluid pb-3" alt="" />
        <div>
          Меня зовут Андрей. В 2015 году попал в ДТП с двумя участниками. У
          второго водителя не оказалось полиса ОСАГО. Поскольку я новичок в
          вождении автомобиля обратился к юристам...
        </div>
      </div>
      <div class="col-6 col-md-3">
        <img src="{% static 'reviews/7.jpg' %}" class="img-fluid pb-3" alt="" />
        <div>
          Обращалась к юристам денной компании летом 2017 года по вопросу
          взыскания алиментов с бывшего супруга. Суд был непростой и мировые
          судьи вынесли решение, которое меня очень огорчило - с мужа...
        </div>
      </div>
      <div class="col-6 col-md-3">
        <img src="{% static 'reviews/8.jpg' %}" class="img-fluid pb-3" alt="" />
        <div>
          Помогли юристы этой компании в получении прав на ребенка. Так
          получилось, что в 2013 году меня лишили родительский прав...
        </div>
      </div>
    </div>
  </div>
</div>
