html {
    font-size: 16px;
  }
  body {
    font-family: "Montserrat", sans-serif;
  }
  .overlay {
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
  }
  .contact-box {
    background: #fff;
    /* font-size: 15px; */
    color: #333;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    height: 100%;
    min-width: 320px;
  }
  
  .title {
    font-family: inherit;
    font-size: 1.4rem;
    font-weight: 700;
    color: inherit;
    margin-bottom: 20px;
  }
  
  .office-phone {
    padding: 25px 50px;
    margin: 0 -50px;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 1.4rem;
    /* font-size: 37px; */
  }
  
  .office-phone a {
    color: black !important;
  }
  
  .footer {
    background: rgb(52, 62, 73);
    color: lightgray;
    /* position: absolute; */
  }
  
  /* PRV */
  
  .custom-form {
    /* background: #2d7421; */
    border-radius: 5px;
    padding: 40px 10px 25px 10px;
    font-family: "Arial", sans-serif;
    box-sizing: border-box;
    position: relative;
  }
  .custom-form__container {
    opacity: 1;
    transition: all 0.3s ease-out;
  }
  .custom-form__container--hide {
    opacity: 0;
  }
  .custom-form__title {
    text-align: center;
    font-size: 25px;
    line-height: 1.3em;
    font-family: "Roboto", "Arial", sans-serif;
    margin: 0 0 35px 0;
    color: #000000;
    font-weight: 300;
  }
  .custom-form__title span {
    font-weight: bold;
    color: rgb(7, 171, 160);
  }
  
  .custom-modal .custom-form__title span {
    display: none;
  }
  
  .custom-modal .custom-city-select {
    display: none;
  }
  
  .custom-form__submit {
    background: rgba(87, 114, 155, 1);
    outline: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 18px;
    height: 51px;
    line-height: 51px;
    border: none;
    padding: 1px 0 0 0;
    max-width: 288px;
    transition: all 0.3s ease-out;
    cursor: pointer;
    box-sizing: border-box;
    padding: 0 10px;
    text-align: center;
    margin: 0 auto 20px auto;
  }
  .custom-form__submit:hover {
    background: rgba(48, 81, 135, 1);
  }
  .custom-form__body {
    max-width: 500px;
    margin: 0 auto;
  }
  .custom-form__input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin: 0 0 20px 0;
    padding: 0 16px;
    height: 42px;
    border: 1px solid rgba(216, 216, 216, 1);
    background: #ffffff;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 14px;
    outline: none;
    transition: all 0.3s ease-out;
    color: #000000;
    font-weight: 300;
  }
  
  .custom-form__input::-moz-placeholder {
    color: #b6b6b6;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 300;
  }
  .custom-form__input::-webkit-input-placeholder {
    color: #b6b6b6;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 300;
  }
  .custom-form__input:-ms-input-placeholder {
    color: #b6b6b6;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 300;
  }
  .custom-form__input::-ms-input-placeholder {
    color: #b6b6b6;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 300;
  }
  .custom-form__input::placeholder {
    color: #b6b6b6;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 300;
  }
  
  textarea.custom-form__input::-moz-placeholder {
    color: #757575;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 300;
  }
  textarea.custom-form__input::-webkit-input-placeholder {
    color: #757575;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 300;
  }
  textarea.custom-form__input:-ms-input-placeholder {
    color: #757575;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 300;
  }
  textarea.custom-form__input::-ms-input-placeholder {
    color: #757575;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 300;
  }
  textarea.custom-form__input::placeholder {
    color: #757575;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 300;
  }
  
  .custom-form__input--error,
  .custom-form__input--error:focus {
    border: 2px solid rgb(215, 60, 44);
  }
  .custom-form__text {
    color: rgba(180, 180, 180, 0.5);
    font-size: 14px;
    text-align: left;
  }
  .custom-form__text a {
    color: rgba(180, 180, 180, 0.5);
    text-decoration: underline;
  }
  textarea.custom-form__input {
    resize: none;
    height: 127px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .custom-message-success {
    position: absolute;
    text-align: center;
    opacity: 0;
    transition: all 0.3s ease-out;
    color: #000000;
    font-size: 32px;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-100%);
    visibility: hidden;
    line-height: 38px;
  }
  .custom-message-success--show {
    opacity: 1;
    visibility: visible;
  }
  
  .ufd {
    position: relative;
  }
  
  .udf-button {
    position: absolute;
    background: none;
    border: none;
    width: 30px;
    right: 0;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #000000;
    font-weight: bold;
    cursor: pointer !important;
  }
  .udf-button:after {
    border-style: solid;
    border-width: 0.1em 0.1em 0 0;
    border-color: #b6b6b6;
    content: "";
    display: inline-block;
    height: 0.45em;
    position: relative;
    vertical-align: top;
    width: 0.45em;
    top: -2px;
    right: 3px;
    transform: rotate(135deg);
  }
  .ufd-container {
    position: absolute;
    margin: 0 !important;
    top: 42px;
    text-align: left;
    background: #ffffff;
    height: 300px;
    overflow-y: auto;
    width: 320px !important;
    z-index: 10000;
  }
  
  .ufd-container {
    border: 1px solid rgba(216, 216, 216, 1);
    border-top: none;
  }
  
  .ufd-container .list-wrapper ul li {
    padding: 9px 16px 8px 16px;
    cursor: pointer;
  }
  .ufd-container .list-wrapper ul li:hover {
    background: #dfe5ef;
    color: #464646;
  }
  .ufd-container .list-wrapper ul li:last-child {
    margin-bottom: 0;
  }
  .ufd-container .list-wrapper ul li span {
    display: inline-block;
    font-size: 14px;
    margin: 0 10px 0 0;
  }
  .ufd-container .list-wrapper ul li span.subCity {
    color: #999;
    font-size: 11px;
    margin: 0;
  }
  
  .nodisplay {
    display: none;
  }

  .chat{
      background-color: #999;
  }
  
  @media (max-width: 930px) {
    .custom-form-container {
      margin: 0;
    }
  }
  
  @media (max-width: 575.98px) {
      .h2{
          font-size: 1.6rem;
      }
  }